#inputDiv {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#displayDiv {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
#atTheRate {
    width:300px;
    float: left;
}
#tweets {
    width:600px;
    float: left;
}
#hashTag {
    width:300px;
    float: left;
}
ul.list {
    list-style-type: none;
}