#inputDev {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#tweetListDev {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#atTheRate {
    width:200px;
    float:left;
}
#tweets {
    width:600px;
    float:left;
}
#hashTag {
    width:200px;
    float:left;
}